#add-module-element-btn {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #333;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    display: inline-block;
    margin-left: 180%;
    
}

.pause-time-box-button{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #333;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    margin-left: 0.5rem;
}

.remove-btn{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #333;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    margin-left: 0.5rem;
}

.timestamps{
    margin-top: 0.5rem;
}

#save-module-page-btn {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #333;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    
}

#preview-module-page-btn {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #333;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    
}

#add-module-container {
    border: 2px solid #333;
    border-radius: 55px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-color: black;
    padding: 10px;
    text-align: center;
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
}

#non-footer {
    /*padding: 20px;*/
    padding-bottom: 450px;
}

#btn-and-dropdown-element-container {
    align-items: center;
    position: absolute;
    margin-left: 70%;
}

#font-type-dropdown-container {
    align-items: center;
    position: absolute;
    display: inline-block;
    margin-left: 1%;
}

#module-element-type-dropdown {
    position: relative;
    width: 100%;
}

#font-type-dropdown {
    position: relative;
    width: 100%;
}

#font-type-sel-btn{
    width:140px;
    max-width:100%;
    text-align: center;
}

#module-element-type-sel-btn{
    width:180px;
    max-width:100%;
    text-align: center;
}

.element-btns-container{
    display: inline-block;
    margin-left: 10%;
}

.element-container{
    border: 2px solid #333;
    border-radius: 20px;
    border-color: black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 10px;
    text-align: center;
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
}

.added-element-container{
    padding: 10px;
    text-align: center;
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
}

.file-embed{
    margin: 0 auto;
}

.element-input{
    border: 2px solid #000000;
    border-color: #000000;
    width:50em;
}

.question-box{
    border: 2px solid #000000;
    border-color: #000000;
    width:50em;
}

.caption-input{
    border: 2px solid #000000;
    border-color: #000000;
    width:50em;
    margin-top: 5px;
}

.pause-question-input{
    border: 2px solid #000000;
    border-color: #000000;
    margin-top: 5px;
    width: 30em;
    height: 10em;
}

.break {
    flex-basis: 100%;
    width: 100%;
    height: 1; 
}

.insert-input-btn{
    font-size: 1.0rem;
    padding: 0.5rem 0.55rem;
    border-radius: 0.5rem;
    border: 1px solid #333;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    display: inline-block;
    margin-left: 10%;
}

.add-caption-btn{
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #333;
    background-color: #fff;
    color: #333;
    margin-left: 2%;
    margin-right: 2%;
}

.caption{
    background-color: transparent;
    border: 2px solid #333;
    border-radius: 10px;
    border-color: black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 200px;
    height: 200px;
    margin-left: 20%;
    word-wrap: break-word;
}

.trash-btn{
    margin: 2px;
}


